<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Blueprint for Personal Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body ng-controller="mainCtrl">
    <!-- {{test}} -->


    <div class="main_nav">


      <div>
        <a class="btn btn-default" ui-sref="home" ng-class="{selected: activeMenu === 'home' }"  ng-click="activeMenu = 'home'"> HOME </a>
      </div>
      <div>
        <a class="btn btn-default" ui-sref="about" ng-class="{selected: activeMenu === 'about' }"  ng-click="activeMenu = 'about'"> ABOUT </a>
      </div>
      <div>
        <a class="btn btn-default" ui-sref="blueprints" ng-class="{selected: activeMenu === 'blueprints' }" ng-click="activeMenu = 'blueprints'"> BLUEPRINTS </a>
      </div>
      <div>
        <a class="btn btn-default" ui-sref="controllers" ng-class="{selected: activeMenu === 'controllers' }" ng-click="activeMenu = 'controllers'"> CONTROLLERS </a>
      </div>
      <div>
        <a class="btn btn-default" ui-sref="endpoints" ng-class="{selected: activeMenu === 'endpoints' }" ng-click="activeMenu = 'endpoints'"> ENDPOINTS </a>
      </div>
      <div>
        <a class="btn btn-default" ui-sref="schema" ng-class="{selected: activeMenu === 'schema' }" ng-click="activeMenu = 'schema'"> SCHEMA </a>
      </div>
      <div>
        <a class="btn btn-default" ui-sref="todo" ng-class="{selected: activeMenu === 'todo' }" ng-click="activeMenu = 'todo'"> TO-DO </a>
      </div>
    </div>

    <ui-view></ui-view>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script src="app.js"></script>
    <script src="mainCtrl.js"></script>
    <script src="mainService.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  </body>
</html>
