<!-- <h1> Welcome from about  </h1> -->
<div class="container">


<div class="container">
<div class="jumbotron">
<p>My project is going to be a food sharing web-app. Why? Here are some facts.
<a href="http://www.endhunger.org/PDFs/2014/USDA-FoodLoss-2014.pdf">A study where I got all this information</a>
<ul>
  <li>in 2010 31% of available food supply was unconsumed</li>
  <li>in 2010 that is about 161.6 billion dollars -gone</li>
  <li>in 2010 the EPA said food waste was about 34 million tons, ~14% of municipal solid waste</li>
  <li> after recycling, food waste is the single largest amount of municipal solid waste ~21% of total landfill space</li>
</ul>
</p>

<p>Jeremy said we should take an existing problem at our old jobs and use technology to solve it.
One problem we had at the zoo was food. It is outrageously expensive to <a href="http://zoo.sandiegozoo.org/sites/all/themes/zoostrap/downloads/financial-reports/SDZG2014FinancialStatement.pdf">feed</a> all the animals at the sd zoo.
On top of that managing food is an entirely different and difficult process. There is just no good way for forage staff to be able to know all the dietary restrictions and preferences of our animals. This results in a lot of food keepers either couldn't feed out, or food that went bad too quickly to be used at a later date.</p><br/><hr>
<p>So here is a possible solution.</p>
</div>
</div>

<div class="container">
  <div class="jumbotron">
    <h2>MVP:</h2>
    <p>a community posting of food that is available</p>
    <p>keepers who get extra food, or have food they cannot use can post what food they have, and other keepers can see that list and either ask for an item from the list or offer a trade from their own storage</p>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h2>Users:</h2>
    <p>While I am pulling from my own experiences at the zoo  this idea could be used in other group settings. I could see this being useful in apartment complexes, offices with a large staff, school groups and other functions where you have a group comprised of people who know each other, but wouldn't know everything about each other. (in this case the unknown data would be food available and food wanted). Let's say you are cooking dinner and you forgot to buy eggs at the store. You don't want to run to the store just for eggs so you look and see someone in your vicinity has some eggs that are going unused.</p>

  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h2>Features:</h2>
    <p>Check out the blueprints tab for some wireframes. In them you'll see layouts of how I have this imagined in my mind. Basically a user logs in, posts to the community board, and then each item on the board is clickable which would bring up more information and an opportunity to chat with that person. So the main features I'd like to try and include are:</p>
    <ul>
      <li>local auth (maybe o-auth?) to log in</li>
      <li>ability to post and edit posts on a separate page</li>
      <li>a log to see what trades you have made and with whom</li>
      <li>ability to talk to other users in real-time chat using socket.io</li>

    </ul>

  </div>
</div>





</div>
