


<h1>Welcome from template</h1>


<div class="container">

  <div class="jumbotron">

    <div><img class="img-responsive" src="images/splashscreen.png" alt="splashpage"></div>

  </div>
  <div class="jumbotron">

    <div><img class="img-responsive" src="images/splashscreen.png" alt="myfridge"></div>

  </div>
  <div class="jumbotron">

    <div><img class="img-responsive" src="images/onclick_from_myfridge.png" alt="onclick_from_myfridge"></div>

  </div>
  <div class="jumbotron">

    <div><img class="img-responsive" src="images/communityfridge.png" alt="communityfridge"></div>

  </div>
  <div class="jumbotron">

    <div><img class="img-responsive" src="images/onclick_from_community.png" alt="onclick_from_community_fridge"></div>

  </div>
  <div class="jumbotron">

    <div><img class="img-responsive" src="images/messages.png"
     alt="messages"></div>
  </div>

</div>
