


<h1>See some wireframes to help me get an idea of layout.</h1>


<div class="container">

  <div class="jumbotron">

    <div><img class="img-responsive" ng-src="images/splashscreen.png" alt="splashpage" ></div>
    <p>The main page. Users can click to log in or to create an account</p>

  </div>
  <div class="jumbotron">

    <div><img class="img-responsive" ng-src="images/splashscreen.png" alt="myfridge"></div>
    <p>The user's current inventory. On this page the user will be able to update their inventory, and see more details about a particular inventory item.</p>

  </div>
  <div class="jumbotron">

    <div><img class="img-responsive" ng-src="images/onclick_from_myfridge.png" alt="onclick_from_myfridge"></div>
    <p> from the click on the user fridge. Here the user can see changes made to items in inventory</p>

  </div>
  <div class="jumbotron">

    <div><img class="img-responsive" ng-src="images/communityfridge.png" alt="communityfridge"></div>
    <p> The main part of the app. Here you can see who has what item available for trade</p>

  </div>
  <div class="jumbotron">

    <div><img class="img-responsive" ng-src="images/onclick_from_community.png" alt="onclick_from_community_fridge"></div>
    <p>this is from a click on the community fridge. Here you can see more information about the item you want as well as a way to chat with the user who is providing said iventory item</p>

  </div>
  <div class="jumbotron">

    <div><img class="img-responsive" ng-src="images/messages.png"
    alt="messages"></div>
    <p> Here socket.io is called to have a chat with the user who is offering food. The idea is when you have set up a time and place to pick up that food item a sweet alerts message will pop up saying trade was successful</p>
  </div>

</div>
