<!-- <h1> Welcome from home </h1> -->

<div class="container">
  <div class="jumbotron">
    <p>Hello NOELLE. I wanted to share with you my idea for a personal project. Hopefully this website will persaude you to believe that I have put some effort into the preperations needed for a succesful project. Please feel free to look around, and if you have comments or suggestions I would like to hear them.</p>
    <p>Thank you, <br/> sid </p>
  </div>
</div>


  <!-- <div class="container">

    <div class="row">
      <div class="col-md-4"> <button class="btn">Show me a cat</button></div>

    </div>

  </div> -->
