<h1>welcome from schema</h1>


<div class="container">

<div class="jumbotron">
  <p> Here I will talk about my data. The main backend work will be users and the food they possess/food they want. Look before for some example tables. </p>
  <p>The base column should be user and userId. From there we can start using that as a foreign key for other tables. See below what I have in mind for a multijoin table</p>
</div>


<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">first half</div>
    <div class="col-md-6">second half</div>
  </div>
</div> -->




  <table class="table table-bordered">
    <tr>
      <td>userId</td><td>name</td><td>item_wanted</td><td>Item_offered</td><td>last_trade_id</td>
    </tr>
    <tr>
      <td>1</td><td>sid</td><td>cabbage</td><td>peanutbutter</td><td>123</td>
    </tr>
    <tr>
      <td>2</td><td>ndjia</td><td>peanuts</td><td>cabbage</td><td>234</td>
    </tr>
    <tr>
      <td>3</td><td>mandazzi</td><td>carrots</td><td>lettuce</td><td>345</td>
    </tr>
  </table>



</div>
