<div class="container">

  <div class="jumbotron">
    <p> Here is an ever-growing list of things I will need to think about and complete</p>
    <ul>
      <li>hosting</li>
      <li>testing? e2e testing should I try it? I will have a lot of things that can go wrong on this site</li>
      <li>testing backend with postman? I don't like postman</li>
      <li>figure out socket.io. will the chat be a separate page? or can it just pop up on the community page?</li>
      <li>media queries? making it responsive</li>
    </ul>
  </div>







</div>
